<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memo">
	<insert id="insertMemo">
		insert into memo
		values (seq_memo_no.nextval, #{memo}, default)
	</insert>
	
	<select id="selectMemoList" resultType="memo">
		select * from memo order by no asc
	</select>
	
	<delete id="deleteMemo">
		delete from memo
		where no = #{no}
	</delete>
</mapper>